<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Convey</title>
</head>
<body>

    <h1>Convey</h1>
    <form action="/convert" method="POST">
        <h2>Your input:</h2>
        <input name="input" type="text"></br>
        </br>
        <input class="submit" type="submit" value="Submit"> 
    </form>

    <p>{{errorMessage}}</p>

</body>
</html>